@use '../abstracts/variables';
@use '../abstracts/mixins';
@use '../abstracts/placeholders';

.footer {
	@extend %fit-content-width;
	@include mixins.container-padding(0, 0, variables.$left-right-container-padding);
	@extend %gradient;
	@include mixins.before(100%, 100%, 0, 0, url('../../../..//assets/imgs/png/noise_transparent@2x.png'), -1, center, repeat);
	z-index: 0;
}

.contacts {
	flex-basis: 24%;
}

.locations {
	flex-basis: 26%;
}


.contacts__title {
	@include mixins.title(none, variables.$weight-400, h3, color-light-xl, 00.06em, variables.$footer-contacts-title-margin);
}

.locations__title {
	@include mixins.title(none, variables.$weight-400, h3, color-light-xl, 00.06em, variables.$footer-locations-title-margin);
}


.contacts__list,
.locations__list {
	@extend %list;
	margin: 0;
	padding: 0;
}

.contacts__item {
	position: relative;
	@include mixins.footer-item(variables.$contacts-item-m-l, variables.$contacts-item-m-b);
}

.locations__item {
	position: relative;
	@include mixins.footer-item(variables.$location-item-m-l, variables.$location-item-m-b);
}


.contacts__link,
.locations__link {
	@extend %h4;
	@extend %color-primary;
	letter-spacing: 0.06em;
	@extend %link;

	&:hover {
		@extend %color-light-s;
	}
}

.mail {
	@include mixins.before(40px, 26px, -1px, -60px, url('../../../../assets/imgs/svg/icon-email.svg'));
}

.tel {
	@include mixins.before(40px, 32px, -4px, -60px, url('../../../../assets/imgs/svg/icon-phone.svg'));
}

.Boston {
	@include mixins.before(22px, 32px, 6px, -42px, url('../../../../assets/imgs/svg/icon-marker.svg'));
}

.London {
	@include mixins.before(22px, 32px, -5px, -42px, url('../../../../assets/imgs/svg/icon-marker.svg'));
}