@use '../abstracts/variables';
@use '../abstracts/mixins';
@use '../abstracts/placeholders';

.nav {
	@include mixins.media-mobile {
		position: fixed;
		right: 0;
		display: flex;
		flex-direction: column;
		width: 320px;
		height: 100vh;
		@include mixins.container-padding(10px, 10px);
		background-color: variables.$color-dark-3xl;
		transition: ease-in-out 0.5s;
		z-index: 3;
	}
}

.nav_hidden {
	@include mixins.media-mobile {
		right: -320px;
	}
}

.nav-menu-header {
	display: none;
	@include mixins.media-mobile {
		display: flex;
	}
}

.nav__list {
	@extend %flex;
	padding: variables.$start-screen-header-padding 0;
	margin: 16px 0 20px;
	@extend %list;

	@include mixins.media-tablet {
		padding: calc((variables.$start-screen-header-padding) - 30px) 0;
	}

	@include mixins.media-mobile {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex-basis: 75%;
		gap: 40px;
		padding: 0;
		margin: 0;
	}
}

.nav__link {
	@extend %nav-link;

	&:hover {
		@extend %color-light-s;
	}

	&_active {
		@extend %link;
		@extend .nav__link;
		padding-bottom: 4px;
		color: variables.$color-light-s;
		border-bottom: 3px solid variables.$color-primary;

		@include mixins.media-mobile {
			padding-bottom: 7px;
		}
	}

}

.nav__link_disabled {
	@extend %nav-link;
	@extend %cursor-disabled;
}