@use '../abstracts/placeholders';
@use '../abstracts/variables';
@use '../abstracts/mixins';


.slider__arrow-left,
.slider__arrow-right {
	@extend %button;
	@extend %round-button;

	&:hover {
		border-color: variables.$color-primary-light;
	}
}

.popup__close-button {
	position: absolute;
	top: -28%;
	right: -18%;
	@extend %button;
	@extend %round-button;
	@include mixins.background(url('../../../assets/imgs/svg/close-icon.svg'));
	transition: 0.3s ease-in-out;

	@include mixins.media-tablet {
		top: -21%;
		right: -20%;
	}

	@include mixins.media-mobile {
		top: -21%;
		right: -19%;
	}
}

.popup__close-button:hover {
	border-color: variables.$color-primary-light;
}

.popup__close-button_shadow-hovered {
	@extend .popup__close-button;
	@extend %button-js-hover;
	transition: 0.3s ease-in-out;
}

.slider__arrow-left {
	@include mixins.background(variables.$arrow-url);
}

.slider__arrow-right {
	@include mixins.background(variables.$arrow-right-url);
}

.slider__button {
	width: variables.$slider-button-width;
	@extend %slider-button-text;
	@extend %button;
	@extend %transparent-button;
	@extend %button-height-radius;
	@extend %color-dark-3xl;

	&:hover {
		@extend %slider-button-hover;
	}
}