@use '../abstracts/variables';
@use '../abstracts/placeholders';
@use '../abstracts/mixins';

.header__logo {
	margin: variables.$start-screen-header-padding 0 10px;

	@include mixins.media-tablet {
		margin: calc((variables.$start-screen-header-padding) - 30px) 0 10px;
	}

	@extend %link;
	@extend %cursor-pointer;
	opacity: 1;
	transition: 0.3s;
}

.header__logo_hidden {
	@include mixins.media-mobile {
		opacity: 0;
		pointer-events: none;
	}
}

.nav-menu-header__logo {
	display: none;

	@include mixins.media-mobile {
		display: block;
	}
}

.logo {
	z-index: 1;
}

.logo__title {
	font-weight: 400;
	@include mixins.text-elems(0, 0, 10px, 0, 2px);
	@extend %logo_title;
	@extend %color-primary;
}

.logo__subtitle {
	padding-left: 4px;
	@include mixins.font(variables.$Arial, variables.$weight-400, variables.$style-normal);
	@extend %logo_subtitle;
	@extend %color-light-xl;
	@include mixins.text-elems(0, 0, 0, 0, 1px);
	word-spacing: 1.5px;
}