@use '../abstracts/variables';
@use '../abstracts/placeholders';
@use '../abstracts/mixins';

.slider {
	@extend %flex;
	@extend %align-center;

	@include mixins.media-mobile {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: variables.$slider-flex-gap - 33px 0;
	}
}

.slider__wrapper {
	position: relative;
	display: flex;
	width: variables.$slider-card-width * 3 + variables.$slider-column-gap * 2 + variables.$slider-cards-margin * 2;
	height: 435px;
	overflow: hidden;

	@include mixins.media-tablet {
		width: variables.$slider-card-width * 2 + (variables.$slider-column-gap - 50px) + (variables.$slider-cards-margin - 41px) * 2;
	}
	
	@include mixins.media-mobile {
		grid-column: span 2;
		align-self: center;
		width: variables.$slider-card-width;
	}
}

.slider__cards {
	position: absolute;
	@extend %flex;
	@extend %align-center;
	margin: 0 variables.$slider-cards-margin;
	gap: variables.$slider-column-gap;

	@include mixins.media-tablet {
		gap: variables.$slider-column-gap - 50px;
		margin: 0 variables.$slider-cards-margin - 41px;
	}

	@include mixins.media-mobile {
		margin: 0;
	}

	transition: ease-in-out 1s;
}

.slider__arrow-left {
	@include mixins.media-mobile {
		grid-row-start: 2;
		justify-self: center;
	}
}

.slider__arrow-right {
	@include mixins.media-mobile {
		justify-self: center;
	}
}

.slider__card {
	@extend %flex;
	@extend %align-center;
	@extend %flex-column;
	padding-bottom: variables.$slider-card-padding-bottom;
	border-radius: 9px;
	background-color: variables.$color-light-s;
	gap: variables.$slider-row-gap;
	@extend %cursor-pointer;
	@extend %transition;

	&:hover {
		background-color: variables.$color-light-xl;
		box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
	}

	&:hover .slider__button {
		@extend %slider-button-hover;
		@extend %transition;
	}

}

.slider__title {
	@include mixins.title(none, variables.$weight-400, h4, color-dark-l, 1px);
}