@font-face {
  font-family: "Arial";
  font-weight: 400;
  font-style: normal;
  src: url("../../../assets/fonts/Arial/ArialMT.woff2") format("woff2"), url("../../../assets/fonts/Arial/ArialMT.woff") format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Arial";
  font-weight: 400;
  font-style: italic;
  src: url("../../../assets/fonts/Arial/Arial-ItalicMT.woff2") format("woff2"), url("../../../assets/fonts/Arial/Arial-ItalicMT.woff") format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Georgia";
  font-weight: 400;
  font-style: normal;
  src: url("../../../assets/fonts/Georgia/Georgia.woff2") format("woff2"), url("../../../assets/fonts/Georgia/Georgia.woff") format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Georgia";
  font-weight: 700;
  font-style: normal;
  src: url("../../../assets/fonts/Georgia/Georgia-Bold.woff2") format("woff2"), url("../../../assets/fonts/Georgia/Georgia-Bold.woff") format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
.pagination, .pagination__card, .pagination-buttons, .pets__title, .nav__list, .container, .locations, .contacts {
  display: flex;
}

.pagination, .pagination__card, .locations, .contacts, .container.pets {
  align-items: center;
}

.pagination__card, .pets__title, .locations, .contacts, .container.pets {
  flex-direction: column;
}

.container {
  justify-content: space-between;
}

.locations__link, .contacts__link {
  color: #F1CDB3;
}

.locations__link:hover, .contacts__link:hover {
  color: #FAFAFA;
}

.locations__title, .contacts__title {
  color: #FFFFFF;
}

.pagination-buttons__button_inactive {
  color: #CDCDCD;
}

.pagination__title, .pets__title, .logo__title, .nav__link, .nav__link_active, .container {
  color: #545454;
}

.pagination__button, .pagination-buttons__button_paginator, .pagination-buttons__button_active, .logo__subtitle, .nav__link:hover, .nav__link_active:hover, .nav__link_active {
  color: #292929;
}

.locations__title, .contacts__title, .pets__title {
  font-size: 35px;
  line-height: 45px;
}

.locations__link, .contacts__link, .pagination__title, .pagination-buttons__button_inactive, .pagination-buttons__button_active, .pagination-buttons__button_paginator {
  font-size: 20px;
  line-height: 23px;
}

.nav__link, .nav__link_active {
  font-size: 15px;
  line-height: 24px;
}

.logo__title {
  font-size: 32px;
  line-height: 35px;
}

.logo__subtitle {
  font-size: 13px;
}

.nav__list {
  list-style: none;
}

.locations__link, .contacts__link, .our-pets__link, .nav__link, .nav__link_active {
  text-decoration: none;
}

.pagination__card, .pagination__button, .pagination-buttons__button_paginator {
  cursor: pointer;
}

.pagination__button:hover, .pagination-buttons__button_paginator:hover {
  background-color: #FDDCC4;
}
.pagination__button:active, .pagination-buttons__button_paginator:active {
  transform: scale(95%);
}

.pagination__button {
  border-radius: 26px;
  height: 52px;
}

.pagination__button, .pagination-buttons__button_inactive, .pagination-buttons__button_paginator {
  border: 2px solid #F1CDB3;
  background-color: transparent;
}

.pagination-buttons__button_inactive, .pagination-buttons__button_paginator {
  width: 52px;
  height: 52px;
  border-radius: 50%;
}

.pagination__button {
  letter-spacing: 0.06em;
  font-size: 17px;
  line-height: 22px;
}

.pagination-buttons__button_inactive, .pagination-buttons__button_active, .pagination-buttons__button_paginator {
  letter-spacing: 0.06em;
}

.pagination-buttons__button_paginator:hover {
  border-color: #FDDCC4;
}

.container.pets {
  text-align: center;
}

.container.pets {
  padding: 80px 40px 100px 40px;
  gap: 60px;
}

.pagination__card:hover .pagination__button, .pagination__button:hover {
  border-color: #FDDCC4;
  background-color: #FDDCC4;
}

.pagination__card, .pagination__card:hover .pagination__button, .locations__link, .contacts__link, .our-pets__link, .nav__link, .nav__link_active, .pagination__button:hover, .pagination-buttons__button_paginator:hover {
  transition: 0.3s;
}

.footer {
  position: relative;
  background-image: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
  background-position: center;
  background-repeat: no-repeat;
}

.locations, .contacts {
  margin-top: 16px;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.container {
  padding: 0 40px 0 40px;
  max-width: 1280px;
  margin: 0 auto;
  font-family: "Georgia", serif;
  font-weight: 400;
  font-style: normal;
}
@media (max-width: 1279px) {
  .container {
    padding: 0 30px 0 30px;
    max-width: 768px;
  }
}
@media (max-width: 767px) {
  .container {
    padding: 0 10px 0 10px;
    max-width: 320px;
  }
}

.header {
  background-color: #FFFFFF;
}

@media (max-width: 767px) {
  .nav_hidden {
    display: none;
  }
}

.nav__list {
  padding: 30px 0;
  margin: 16px 0 20px;
}

.nav__link, .nav__link_active {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0 0 0 36px;
  letter-spacing: 0;
}
.nav__link_active {
  padding-bottom: 4px;
  border-bottom: 3px solid #F1CDB3;
}

.footer {
  padding: 40px 0 0 0;
  z-index: 0;
}
.footer:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../..//assets/imgs/png/noise_transparent@2x.png");
  background-position: center;
  background-repeat: repeat;
  z-index: -1;
}
@media (max-width: 1279px) {
  .footer {
    padding: 30px 0 0 0;
  }
}

@media (max-width: 1279px) {
  .footer__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 69px;
  }
}
@media (max-width: 767px) {
  .footer__container {
    grid-auto-flow: column;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, max-content);
    grid-row-gap: 44px;
  }
}

@media (max-width: 1279px) {
  .footer__puppy {
    grid-column: span 2;
    justify-self: center;
  }
}
@media (max-width: 767px) {
  .footer__puppy {
    max-width: 260px;
  }
}

@media (max-width: 767px) {
  .logo {
    padding: 30px 0;
  }
}

.logo__title {
  font-weight: 400;
  margin: 0 0 10px 0;
  letter-spacing: 2px;
}

.logo__subtitle {
  padding-left: 4px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0 0 0 0;
  letter-spacing: 1px;
  word-spacing: 1.5px;
}

.burger {
  position: relative;
  display: none;
}
.burger__line {
  content: "";
  position: absolute;
  top: 59px;
  left: -73px;
  width: 30px;
  height: 2px;
  background-color: #F1CDB3;
}
.burger__line::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 30px;
  height: 2px;
  background-color: #F1CDB3;
}
.burger__line::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 30px;
  height: 2px;
  background-color: #F1CDB3;
}
@media (max-width: 767px) {
  .burger {
    display: inline-block;
  }
}

.pagination__button {
  width: 69%;
}
.pagination-buttons__button_inactive {
  border-color: #CDCDCD;
}

.pagination-buttons__button_active {
  width: 52px;
  height: 52px;
  border: none;
  border-radius: 50%;
  background-color: #F1CDB3;
}

.our-pets__link {
  margin: auto 0;
}

@media (max-width: 1279px) {
  .container.pets {
    padding: 80px 30px 76px 30px;
    gap: 30px;
  }
}
@media (max-width: 767px) {
  .container.pets {
    padding: 42px 10px 32px 10px;
    gap: 42px;
  }
}

.section-pets {
  background-color: #F6F6F6;
}

.pets__title {
  max-width: none;
  font-weight: 400;
  margin: 0;
  letter-spacing: 2px;
}
@media (max-width: 767px) {
  .pets__title {
    max-width: 100%;
    font-size: 25px;
    line-height: 32px;
    letter-spacing: 0.06em;
    text-align: center;
  }
}

.pagination {
  gap: 53px;
}

.pagination__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px 40px;
}
@media (max-width: 1279px) {
  .pagination__cards {
    grid-template-columns: repeat(2, 1fr);
    margin: 0 0 10px;
  }
}
@media (max-width: 767px) {
  .pagination__cards {
    grid-template-columns: 1fr;
    margin: 0;
  }
}

.pagination__card {
  padding-bottom: 30px;
  border-radius: 9px;
  background-color: #FAFAFA;
  gap: 30px;
}
.pagination__card:hover {
  background-color: #FFFFFF;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}
@media (max-width: 1279px) {
  .pagination__card_hidden {
    display: none;
  }
}
@media (max-width: 767px) {
  .pagination__card_hidden-mobile {
    display: none;
  }
}

.pagination__title {
  max-width: none;
  font-weight: 400;
  margin: 0;
  letter-spacing: 1px;
}

.pagination-buttons {
  gap: 20px;
}
@media (max-width: 767px) {
  .pagination-buttons {
    margin-bottom: 10px;
    gap: 10px;
  }
}

.contacts {
  flex-basis: 24%;
  gap: 46px;
}
@media (max-width: 1279px) {
  .contacts {
    margin: 0;
  }
}

.contacts__title {
  max-width: none;
  font-weight: 400;
  margin: 0;
  letter-spacing: 0.06em;
}
@media (max-width: 1279px) {
  .contacts__title {
    max-width: 81%;
  }
}
@media (max-width: 767px) {
  .contacts__title {
    max-width: 100%;
    font-size: 25px;
    line-height: 32px;
    letter-spacing: 0.06em;
    text-align: center;
  }
}

.contacts__link {
  position: relative;
  letter-spacing: 0.06em;
}
.contacts__mail {
  margin-left: 24px;
}
.contacts__mail:before {
  content: "";
  position: absolute;
  top: -3px;
  left: -60px;
  width: 40px;
  height: 26px;
  background-image: url("../../../assets/imgs/svg/icon-email.svg");
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
}
@media (max-width: 767px) {
  .contacts__mail {
    margin-left: 60px;
  }
}

.contacts__tel {
  margin-left: 12px;
}
.contacts__tel:before {
  content: "";
  position: absolute;
  top: -4px;
  left: -60px;
  width: 40px;
  height: 32px;
  background-image: url("../../../assets/imgs/svg/icon-phone.svg");
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
}
@media (max-width: 767px) {
  .contacts__tel {
    margin: 3px 0 0 60px;
  }
}

.locations {
  gap: 35px;
  flex-basis: 26%;
}
@media (max-width: 1279px) {
  .locations {
    margin: 0;
  }
}
@media (max-width: 767px) {
  .locations {
    gap: 41px;
  }
}

.locations__title {
  max-width: none;
  font-weight: 400;
  margin: 0;
  letter-spacing: 0.06em;
}
@media (max-width: 1279px) {
  .locations__title {
    max-width: 89%;
  }
}
@media (max-width: 767px) {
  .locations__title {
    max-width: 98%;
    font-size: 25px;
    line-height: 32px;
    letter-spacing: 0.06em;
    text-align: center;
  }
}

.locations__link {
  position: relative;
  letter-spacing: 0.06em;
}
.locations__Boston {
  margin-left: 42px;
}
.locations__Boston:before {
  content: "";
  position: absolute;
  top: 6px;
  left: -42px;
  width: 22px;
  height: 32px;
  background-image: url("../../../assets/imgs/svg/icon-marker.svg");
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
}
@media (max-width: 1279px) {
  .locations__Boston {
    margin-left: 60px;
  }
}
@media (max-width: 767px) {
  .locations__Boston {
    margin-left: 42px;
  }
}

.locations__London:before {
  content: "";
  position: absolute;
  top: -5px;
  left: -42px;
  width: 22px;
  height: 32px;
  background-image: url("../../../assets/imgs/svg/icon-marker.svg");
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
}
@media (max-width: 1279px) {
  .locations__London {
    margin-right: 3px;
  }
}
@media (max-width: 767px) {
  .locations__London {
    margin: 0 0 0 12px;
  }
}

/*# sourceMappingURL=style.css.map */
