@use '../abstracts/variables';

.header {
  margin-bottom: variables.$container-margin;
  background-color: variables.$dark;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}