@use '../abstracts/variables';

%list {
  margin: 0;
  padding: 0;
  list-style: none;
}

%filters {
  padding: variables.$card-padding;
  background-color: variables.$light-m;
  border-radius: variables.$card-border-radius;
  box-shadow: 0 0 4px variables.$shadow-color;
}