$dark: #26272A;
$dark-s: #BDBCBC;
$light: #F2F2F2; 
$light-s: #EDC42C;
$light-m: #FFFFFF;
$container-margin: 40px;
$transition: .5s;
$card-border-radius: 5px;
$cart-counter-size: 30px;
$card-height: 160px;