$Arial:'Arial',
sans-serif;
$Georgia:'Georgia',
serif;
$weight-400: 400;
$style-normal: normal;
$start-screen-header-padding: 30px;
$max-width: 1280px;
$max-width-tablet: 768px;
$max-width-mobile: 320px;
$h2: 44px;
$h3: 35px;
$h3-mobile: 25px;
$h4: 20px;
$h5: 15px;
$h5-modal-window: 20px;
$paragraph-l: 15px;
$paragraph-s: 12px;
$paragraph-mobile-menu: 32px;
$logo_title: 32px;
$logo_subtitle: 13px;
$h2-height: 57px;
$h3-height: 45px;
$h3-mobile-height: 32px;
$h4-height: 23px;
$h5-height: 17px;
$h5-modal-window-height: 17px;
$paragraph-l-height: 24px;
$paragraph-s-height: 18px;
$paragraph-mobile-menu-height: 51px;
$logo_title-height: 35px;
$logo_subtitle-height: auto;
$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;
$color-light-s: #FAFAFA;
$color-light-l: #F6F6F6;
$color-light-xl: #FFFFFF;
$color-dark-s: #CDCDCD;
$color-dark-m: #B2B2B2;
$color-dark-l: #545454;
$color-dark-xl: #4C4C4C;
$color-dark-2xl: #444444;
$color-dark-3xl: #292929;
$color-black: #000000;
$hover-transition: 0.3s;
$left-right-container-padding: 40px;
$pets-gap: 60px;
$pets-title: 400px;
$pagination-flex-gap: 53px;
$pagination-column-gap: 40px;
$pagination-row-gap: 30px;
$button-height: 52px;
$pagination-card-padding-bottom: 30px;
$pagination-button-width: 69%;
$pagination-button-text: 17px;
$pagination-button-text-height: 22px;
$pets-button-width: 261px;
$pagination-buttons-gap: 20px;
$media-tablet: 1279px;
$media-mobile: 767px;
$nav-mobile: 32px;
$nav-mobile-height: 52px;