@use '../abstracts/variables';
@use '../abstracts/mixins';
@use '../abstracts/placeholders';

.header {
	display: flex;
	justify-content: space-between;
	@include mixins.container-padding(40px, 40px);
	@include mixins.background(top);
}

.logo__title {
	padding-top: variables.$start-screen-header-padding;
	font-weight: 400;
	@include mixins.text-elems(0, 0, 10px, 0, 2px);
	@extend %logo_title;
	@extend %color-primary;
}

.logo__subtitle {
	padding-left: 4px;
	@include mixins.font(variables.$Arial, variables.$weight-400, variables.$style-normal);
	@extend %logo_subtitle;
	@extend %color-light-xl;
	@include mixins.text-elems(0, 0, 10px, 0, 1px);
	word-spacing: 1.5px;
}