@use '../abstracts/variables';
@use '../abstracts/mixins';

.header {
	background-image: variables.$start-screen-url;
}

.logo__title {
	padding-top: variables.$start-screen-header-padding;
	@include mixins.text-elems(0, 0, 10px, 0, variables.$Georgia, variables.$weight-400, variables.$style-normal,variables.$color-primary, 35.2px, 2px);
}

.logo__subtitle {
	padding-left: 4px;
	@include mixins.text-elems(0, 0, 10px, 0, variables.$Arial, variables.$weight-400, variables.$style-normal, variables.$color-light-xl,  14.95px, 1px);
	word-spacing: 1px;
}