@use '../abstracts/variables';
@use '../abstracts/mixins';
@use '../abstracts/placeholders';

.section {
	@extend %flex;
	@include mixins.container-padding(variables.$left-right-container-padding, variables.$left-right-container-padding);
	gap: variables.$start-screen-section-gap;
}

.start-screen {
	@extend %flex;
	@include mixins.background(bottom);
}

.start-screen__content {
	margin-top: variables.$start-screen-content-top-margin;
	max-width: variables.$start-screen-content-width;
}

.start-screen__title {
	@include mixins.title(variables.$start-screen-title-width, variables.$weight-400, 0, 0, 0, 0, 0, h2, color-light-xl);
}

.start-screen__text {
	@include mixins.text(variables.$Arial, variables.$weight-400, variables.$style-normal, 42px, 0, 42px, 0, 0, color-dark-s, paragraph-l);
}

.section.about {
	@include mixins.container-padding(variables.$left-right-container-padding, variables.$left-right-container-padding, 80px, 100px);
	justify-content: center;
	gap: variables.$about-section-gap;
	background-color: variables.$color-light-xl;
}

.about {
	flex-basis: variables.$about-flex-basis;
	padding: 14px 0;
}

.about__title {
	@include mixins.title(variables.$about-title, variables.$weight-400, 0, 0, 0, 0, 2px, h3, color-dark-l);
}

.about__text {
	@include mixins.text(variables.$Arial, variables.$weight-400, variables.$style-normal, 25px, 0, 0, 0, 0, color-dark-xl, paragraph-l);
}