@use '../abstracts/variables';
@use '../abstracts/mixins';
@use '../abstracts/placeholders';

.nav__list {
	display: flex;
	padding: variables.$start-screen-header-padding 0;
	margin: 16px 0 20px;
	@extend %list;
}

.nav__link {
	@extend %nav__link;
	&_active {
		@extend %nav__link;
		padding-bottom: 4px;
		color: variables.$color-light-s;
		border-bottom: 3px solid variables.$color-primary;
	}
}