$Arial:'Arial', serif;
$Georgia:'Georgia', sans-serif;
$weight-400: 400;
$style-normal: normal;
$start-screen-header-padding: 60px;
$max-width: 1280px;
$h2: 44px;
$h3: 35px;
$h3-mobile: 25px;
$h4: 20px;
$h5: 15px;
$h5-modal-window: 20px;
$paragraph-l: 15px;
$paragraph-s: 12px;
$paragraph-mobile-menu: 32px;
$logo_title: 32px;
$logo_subtitle: 13px;
$h2-height: 57px;
$h3-height: 45px;
$h3-mobile-height: 32px;
$h4-height: 23px;
$h5-height: 17px;
$h5-modal-window-height: 17px;
$paragraph-l-height: 24px;
$paragraph-s-height: 18px;
$paragraph-mobile-menu-height: 51px;
$logo_title-height: 35px;
$logo_subtitle-height: auto;
$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;
$color-light-s: #FAFAFA;
$color-light-l: #F6F6F6;
$color-light-xl: #FFFFFF;
$color-dark-s: #CDCDCD;
$color-dark-m: #B2B2B2;
$color-dark-l: #545454;
$color-dark-xl: #4C4C4C;
$color-dark-2xl: #444444;
$color-dark-3xl: #292929;
$hover-transition: 0.3s;
$background-url: url('/assets/imgs/jpg/start_screen.jpg');
$about-section-gap: 120px;
$start-screen-content-top-margin: 163px;
$start-screen-content-width: 39%;
$start-screen-title-width: 67%;
$about-flex-basis: 36%;
$about-title: 70%;
$left-right-container-padding: 40px;
$pets-gap: 60px;
$pets-title: 400px;
$slider-flex-gap: 53px;
$slider-column-gap: 90px;
$slider-row-gap: 30px;
$arrow-url: url('/assets/imgs/svg/Arrow.svg');
$arrow-right-url: url('/assets/imgs/svg/Arrow-right.svg');
$button-height: 52px;
$slider-card-padding-bottom: 30px;
$slider-button-width: 69%;
$slider-button-text: 17px;
$slider-button-text-height: 22px;
$pets-button-width: 261px;
$help-title-width: 26%;
$help-gap: 55px 120px;
$help-img-size: 60px;
$help-img-margin: 30px;
$donation-puppy-height: 261px;
$donation-content-width: 31.7%;
$donation-gap: 30px;
$dontaion-title-width: 77%;
$donation-content-gap: 20px; 
$donation-button-width: 91.8%;
$footer-contacts-title-margin: 6% 0 15%; 
$footer-locations-title-margin: 5% 0 11%; 
$contacts-item-m-l: 20.8%;
$contacts-item-m-b: 17%;
$location-item-m-b: 12%;
$location-item-m-l: 13.5%;
