@use '../abstracts/variables';
@use '../abstracts/placeholders';

.card {
  position: relative;
  height: variables.$card-height;
  border-radius: variables.$card-border-radius;
  filter: drop-shadow(0px 4px 4px variables.$shadow-color);
  overflow: hidden;

  &__info {
    position: absolute;
    left: 0;
    height: 100%;
    padding: 10px;
    font-size: 14px;
    border-bottom-left-radius: variables.$card-border-radius;
    border-top-left-radius: variables.$card-border-radius;
    background-color: rgba(variables.$dark, 0.5);
    backdrop-filter: blur(2px);
    transition: ease-in-out variables.$transition;
    z-index: 1;
  }

  &__title {
    margin-bottom: 10px;
  }

  &__list {
    @extend %list;
    color: variables.$dark-s;
    text-transform: capitalize;
    line-height: 18px;
  }

  &__img {
    border-radius: variables.$card-border-radius;
    transition: ease-in-out variables.$transition;
  }

  &:hover {
    cursor: pointer;
  }

  &:hover &__img {
    transform: scale(1.1) rotate(-3deg);
  }

  &:hover &__info {
    left: -100%;
  }

  &_in-cart::after {
    content: '';
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: variables.$light;
    background-image: url('../../assets/svg/shoping-cart.svg');
    background-position: center;
    background-repeat: no-repeat;
    filter: drop-shadow(0 0 1px black);
  }

  &_notification-active {
    pointer-events: none;
  }

  &_notification-active::before {
    content: 'Извините, все слоты заполнены';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: variables.$card-height;
    text-align: center;
    color: variables.$light-m;
    background-color: variables.$dark;
    z-index: 10;
    animation: show-hide 3s ease-in-out;
  }
}

@keyframes show-hide {
  0% {
    opacity: 0;
  }

  5% {
    opacity: 1;
  }

  95% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}