@use '../abstracts/variables';

.header__cart {
  position: relative;
  width: 35px;
  height: 35px;
  background: center/contain no-repeat url('../../assets/svg/shoping-cart.svg');
}

.header__cart-counter {
  position: absolute;
  display: inline-block;
  top: -10px;
  right: -20px;
  width: variables.$cart-counter-size;
  height: variables.$cart-counter-size;
  line-height: variables.$cart-counter-size;
  text-align: center;
  border-radius: 50%;
  color: variables.$dark;
  background: variables.$light;
}