@use '../abstracts/placeholders';
@use '../abstracts/variables';
@use '../abstracts/mixins';

.pagination__button {
	width: variables.$pagination-button-width;
	@extend %pagination-button-text;
	@extend %button;
	@extend %transparent-button;
	@extend %button-height-radius;
	@extend %color-dark-3xl;

	&:hover {
		@extend %pagination-button-hover;
	}
}

.pagination-buttons__button_inactive {
	@extend %round-button;
	@extend %pagination-button;
	@extend %color-dark-s;
	border-color: variables.$color-dark-s;
}

.pagination-buttons__button_paginator {
	@extend %round-button;
	@extend %pagination-button-paginator;
	@extend %button;
	@extend %color-dark-3xl;
}

.pagination-buttons__button_active {
	width: variables.$button-height;
	height: variables.$button-height;
	@extend %pagination-button;
	@extend %color-dark-3xl;
	border: none;
	border-radius: 50%;
	background-color: variables.$color-primary;
}

.popup__close-button {
	position: absolute;
	top: -28%;
	right: -18%;
	@extend %button;
	@extend %round-button;
	@include mixins.background(url('../../../assets/imgs/svg/close-icon.svg'));
	transition: 0.3s ease-in-out;

	@include mixins.media-tablet {
		top: -21%;
		right: -20%;
	}

	@include mixins.media-mobile {
		top: -21%;
		right: -19%;
	}
}

.popup__close-button:hover {
	border-color: variables.$color-primary-light;
}

.popup__close-button_shadow-hovered {
	@extend .popup__close-button;
	@extend %button-js-hover;
	transition: 0.3s ease-in-out;
}

