@use '../abstracts/variables';
@use '../abstracts/placeholders';
@use '../abstracts/mixins';

.pagination {
	position: relative;
	@extend %flex;
	@extend %align-center;
	gap: variables.$pagination-flex-gap;
	width: variables.$pagination-cards-width;
	height: variables.$pagination-cards-height;

	@include mixins.media-tablet {
		width: variables.$pagination-cards-width - 620px;
		height: variables.$pagination-cards-height + 465px;
	}

	@include mixins.media-mobile {
		width: variables.$pagination-cards-width - 930px;
	}
}

.pagination__cards {
	position: absolute;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: variables.$pagination-row-gap variables.$pagination-column-gap;

	@include mixins.media-tablet {
		grid-template-columns: repeat(2, 1fr);
		margin: 0 0 10px;
	}

	@include mixins.media-mobile {
		grid-template-columns: 1fr;
		margin: 0;
	}
}

.pagination__card {
	@extend %flex;
	@extend %align-center;
	@extend %flex-column;
	padding-bottom: variables.$pagination-card-padding-bottom;
	border-radius: 9px;
	background-color: variables.$color-light-s;
	gap: variables.$pagination-row-gap;
	@extend %cursor-pointer;
	@extend %transition;

	&:hover {
		background-color: variables.$color-light-xl;
		box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
	}

	&:hover .pagination__button {
		@extend %pagination-button-hover;
		@extend %transition;
	}

	@include mixins.media-tablet {
		&_hidden {
			display: none;
		}
	}

	@include mixins.media-mobile {
		&_hidden-mobile {
			display: none;
		}
	}
}

.pagination__image {
	height: 270px;
	border-radius: 9px 9px 0px 0px;
}

.pagination__title {
	@include mixins.title(none, variables.$weight-400, h4, color-dark-l, 1px);
}

.pagination-buttons {
	@extend %flex;
	gap: variables.$pagination-buttons-gap;

	@include mixins.media-mobile {
		margin-bottom: 10px;
		gap: variables.$pagination-buttons-gap - 10px;
	}
}

.pagination__cards_active {
	z-index: 1;
	animation: show 0.3s ease-in-out backwards;
}

.pagination__cards_hidden {
	opacity: 0;
}

@keyframes show {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

