@use '../abstracts/variables';
@use '../abstracts/mixins';
@use '../abstracts/placeholders';

.our-pets__link {
	@extend %link;
	margin: auto 0;
}

.container.pets {
	@extend %pets-help-blocks;

	@include mixins.media-tablet {
		@include mixins.container-padding(30px, 30px, 80px, 76px);
		gap: variables.$pets-gap - 30px;
	}

	@include mixins.media-mobile {
		@include mixins.container-padding(10px, 10px, 42px, 32px);
		gap: variables.$pets-gap - 18px;
	}
}

.section-pets {
	background-color: variables.$color-light-l;
}

.pets__title {
	@extend %flex;
	@extend %flex-column;
	@include mixins.title(none, variables.$weight-400, h3, color-dark-l, 2px);

	@include mixins.media-mobile {
		@include mixins.mobile-title();
	}
}