@use '../abstracts/variables';
@use '../abstracts/mixins';

* {
  box-sizing: border-box;
}

.body {
  font-family: 'Roboto', sans-serif;
  color: variables.$dark;
  background-color: variables.$light;
}