$Arial:'Arial';
$Georgia:'Georgia';
$weight-400: 400;
$style-normal: normal;
$start-screen-header-padding: 60px;
$max-width: 1280px;
$h2: 44px;
$h3: 35px;
$h3-mobile: 25px;
$h4: 20px;
$h5: 15px;
$h5-modal-window: 20px;
$paragraph-l: 15px;
$paragraph-s: 12px;
$paragraph-mobile-menu: 32px;
$logo_title: 32px;
$logo_subtitle: 13px;
$h2-height: 57px;
$h3-height: 45px;
$h3-mobile-height: 32px;
$h4-height: 23px;
$h5-height: 17px;
$h5-modal-window-height: 17px;
$paragraph-l-height: 24px;
$paragraph-s-height: 18px;
$paragraph-mobile-menu-height: 51px;
$logo_title-height: 35px;
$logo_subtitle-height: auto;
$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;
$color-light-s: #FAFAFA;
$color-light-l: #F6F6F6;
$color-light-xl: #FFFFFF;
$color-dark-s: #CDCDCD;
$color-dark-m: #B2B2B2;
$color-dark-l: #545454;
$color-dark-xl: #4C4C4C;
$color-dark-2xl: #444444;
$color-dark-3xl: #292929;
$hover-transition: 0.3s;
$background-url: url('/assets/imgs/jpg/start_screen.jpg');
$start-screen-section-gap: 42px;
$start-screen-content-top-margin: 163px;