$Arial:'Arial';
$Georgia:'Georgia';
$weight-400: 400;
$style-normal: normal;
$start-screen-header-padding: 60px;
$max-width: 1280px;
$color-primary:#F1CDB3;
$color-dark-s:#CDCDCD;
$color-light-s:#FAFAFA;
$color-light-xl:#FFFFFF;
$link-hover-transition: 0.3s;
$start-screen-url: url('/assets/imgs/jpg/start_screen.jpg');