@font-face {
  font-family: "Arial";
  font-weight: normal;
  font-style: 400;
  src: url("../assets/fonts/Arial/ArialMT.woff2") format("woff2"), url("../assets/fonts/Arial/ArialMT.woff") format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Arial-italic";
  font-weight: italic;
  font-style: 400;
  src: url("../assets/fonts/Arial/Arial-ItalicMT.woff2") format("woff2"), url("../assets/fonts/Arial/Arial-ItalicMT.woff") format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Georgia";
  font-weight: normal;
  font-style: 400;
  src: url("../assets/fonts/Georgia/Georgia.woff2") format("woff2"), url("../assets/fonts/Georgia/Georgia.woff") format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Georgia-bold";
  font-weight: normal;
  font-style: 700;
  src: url("../assets/fonts/Georgia/Georgia-Bold.woff2") format("woff2"), url("../assets/fonts/Georgia/Georgia-Bold.woff") format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
.section, .start-screen, .pets__title, .help__list, .donation, .donation__content, .header, .slider, .slider__cards, .slider__card {
  display: flex;
}

.slider, .slider__cards, .slider__card, .section.pets, .section.help {
  align-items: center;
}

.pets__title, .donation__content, .slider__card, .section.pets, .section.help {
  flex-direction: column;
}

.header {
  justify-content: space-between;
}

.section.about, .help__list, .donation {
  justify-content: center;
}

.help__list {
  flex-wrap: wrap;
}

.logo__title {
  color: #F1CDB3;
}

.nav__link:hover, .nav__link_active:hover {
  color: #FAFAFA;
}

.start-screen__title, .logo__subtitle {
  color: #FFFFFF;
}

.nav__link, .nav__link_active, .start-screen__text {
  color: #CDCDCD;
}

.donation__info {
  color: #B2B2B2;
}

.about__title, .pets__title, .help__title, .help__subtitle, .donation__title, .donation__subtitle, .donation__link, .slider__title, .container {
  color: #545454;
}

.about__text {
  color: #4C4C4C;
}

.start-screen__button, .slider__button, .pets__button {
  color: #292929;
}

.start-screen__title {
  font-size: 44px;
  line-height: 57px;
}

.about__title, .pets__title, .help__title, .donation__title {
  font-size: 35px;
  line-height: 45px;
}

.help__subtitle, .donation__link, .slider__title {
  font-size: 20px;
  line-height: 23px;
}

.donation__subtitle, .start-screen__button {
  font-size: 15px;
  line-height: 17px;
}

.nav__link, .nav__link_active, .start-screen__text, .about__text {
  font-size: 15px;
  line-height: 24px;
}

.donation__info {
  font-size: 12px;
  line-height: 18px;
}

.logo__title {
  font-size: 32px;
  line-height: 35px;
}

.logo__subtitle {
  font-size: 13px;
}

.nav__list, .help__list {
  list-style: none;
}

.nav__link, .nav__link_active, .donation__link {
  text-decoration: none;
}

.slider__card, .start-screen__button, .slider__arrow-left,
.slider__arrow-right, .slider__button, .pets__button, .donation__button {
  cursor: pointer;
}

.start-screen__button:hover, .slider__arrow-left:hover,
.slider__arrow-right:hover, .slider__button:hover, .pets__button:hover, .donation__button:hover {
  background-color: #FDDCC4;
}
.start-screen__button:active, .slider__arrow-left:active,
.slider__arrow-right:active, .slider__button:active, .pets__button:active, .donation__button:active {
  transform: scale(95%);
}

.slider__button, .start-screen__button, .pets__button {
  border-radius: 26px;
  height: 52px;
}

.start-screen__button, .pets__button {
  border: none;
  background-color: #F1CDB3;
}

.slider__button, .slider__arrow-left,
.slider__arrow-right {
  border: 2px solid #F1CDB3;
  background-color: transparent;
}

.slider__arrow-left,
.slider__arrow-right {
  width: 52px;
  height: 52px;
  border-radius: 50%;
}

.slider__button, .pets__button {
  letter-spacing: 1px;
  font-size: 17px;
  line-height: 22px;
}

.section.pets, .section.help {
  text-align: center;
}

.section.pets, .section.help {
  padding: 80px 40px 100px 40px;
  gap: 60px;
}

.slider__card:hover .slider__button, .slider__button:hover {
  border-color: #FDDCC4;
  background-color: #FDDCC4;
}

.slider__card:hover .slider__button, .nav__link, .nav__link_active, .donation__link, .start-screen__button:hover, .slider__arrow-left:hover,
.slider__arrow-right:hover, .slider__button:hover, .pets__button:hover, .donation__button:hover {
  transition: 0.3s;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.container {
  width: 1280px;
  margin: 0 auto;
  font-family: "Georgia";
  font-weight: 400;
  font-style: normal;
}

.start-screen__button {
  width: 45%;
  letter-spacing: 2px;
}

.slider__arrow-left:hover,
.slider__arrow-right:hover {
  border-color: #FDDCC4;
}

.slider__arrow-left {
  background-image: url("/assets/imgs/svg/Arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.slider__arrow-right {
  background-image: url("/assets/imgs/svg/Arrow-right.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.slider__button {
  width: 69%;
}
.pets__button {
  width: 261px;
}

.donation__button {
  width: 91.8%;
  padding: 10px 15px 10px 60px;
  border: none;
  border-radius: 9px;
  color: #545454;
  background-color: #F1CDB3;
  background-image: url("/assets/imgs/svg/credit-card.svg");
  background-position: 15px 9.5px;
  background-repeat: no-repeat;
  word-spacing: 6px;
}

.slider {
  gap: 53px;
}

.slider__cards {
  gap: 90px;
}

.slider__card {
  padding-bottom: 30px;
  border-radius: 9px;
  background-color: #FAFAFA;
  gap: 30px;
}
.slider__card:hover {
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}
.slider__title {
  max-width: none;
  font-weight: 400;
  margin: 0;
  letter-spacing: 1px;
}

.header {
  padding: 0 40px 0 40px;
  background-image: url("/assets/imgs/jpg/start_screen.jpg");
  background-position: top;
  background-repeat: no-repeat;
}

.logo__title {
  padding-top: 60px;
  font-weight: 400;
  margin: 0 0 10px 0;
  letter-spacing: 2px;
}

.logo__subtitle {
  padding-left: 4px;
  font-family: "Arial";
  font-weight: 400;
  font-style: normal;
  margin: 0 0 10px 0;
  letter-spacing: 1px;
  word-spacing: 1.5px;
}

.section {
  padding: 0 40px 0 40px;
  gap: 42px;
}

.start-screen {
  background-image: url("/assets/imgs/jpg/start_screen.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
}

.start-screen__content {
  margin-top: 163px;
  max-width: 39%;
}

.start-screen__title {
  max-width: 67%;
  font-weight: 400;
  margin: 0;
  letter-spacing: 0;
}

.start-screen__text {
  font-family: "Arial";
  font-weight: 400;
  font-style: normal;
  margin: 42px 0 42px 0;
  letter-spacing: 0;
}

.section.about {
  padding: 80px 40px 100px 40px;
  gap: 120px;
  background-color: #FFFFFF;
}

.about {
  flex-basis: 36%;
  padding: 14px 0;
}

.about__title {
  max-width: 70%;
  font-weight: 400;
  margin: 0;
  letter-spacing: 2px;
}

.about__text {
  font-family: "Arial";
  font-weight: 400;
  font-style: normal;
  margin: 25px 0 0 0;
  letter-spacing: 0;
}

.section.pets {
  background-color: #F6F6F6;
}

.pets__title {
  max-width: none;
  font-weight: 400;
  margin: 0;
  letter-spacing: 2px;
}

.section.help {
  background-color: #FFFFFF;
}

.help__title {
  max-width: 26%;
  font-weight: 400;
  margin: 0;
  letter-spacing: 2px;
}

.help__list {
  gap: 55px 120px;
  margin: 0;
  padding: 0;
}

.help__img {
  width: 60px;
  height: 60px;
  margin: 0 auto 30px;
}
.help__img.food {
  background-image: url("/assets/imgs/svg/pet-food.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.help__img.transportation {
  background-image: url("/assets/imgs/svg/transportation.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.help__img.toys {
  background-image: url("/assets/imgs/svg/toys.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.help__img.bowls {
  background-image: url("/assets/imgs/svg/bowls-and-cups.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.help__img.shampoos {
  background-image: url("/assets/imgs/svg/shampoos.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.help__img.vitamins {
  background-image: url("/assets/imgs/svg/vitamins.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.help__img.medicines {
  background-image: url("/assets/imgs/svg/medicines.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.help__img.collars {
  background-image: url("/assets/imgs/svg/collars-or-leashes.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.help__img.areas {
  background-image: url("/assets/imgs/svg/sleeping-area.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.help__subtitle {
  max-width: none;
  font-weight: 400;
  margin: 0;
  letter-spacing: 0.06em;
}

.donation {
  gap: 30px;
  padding: 80px 40px 100px 40px;
  background-color: #F6F6F6;
}

.donation__puppy {
  margin: 10px 0;
}

.donation__content {
  gap: 20px;
  width: 31.7%;
}

.donation__title {
  max-width: 77%;
  font-weight: 400;
  margin: 0;
  letter-spacing: 0.06em;
}

.donation__subtitle {
  max-width: none;
  font-weight: 400;
  margin: 0;
  letter-spacing: 0.06em;
}

.donation__link {
  max-width: none;
  font-weight: 400;
  margin: 0;
  letter-spacing: 0.06em;
}

.donation__info {
  font-family: "Arial";
  font-weight: 400;
  font-style: italic;
}

.nav__list {
  display: flex;
  padding: 60px 0;
  margin: 16px 0 20px;
}

.nav__link, .nav__link_active {
  font-family: "Arial";
  font-weight: 400;
  font-style: normal;
  margin: 0 0 0 36px;
  letter-spacing: 0;
}
.nav__link_active {
  padding-bottom: 4px;
  color: #FAFAFA;
  border-bottom: 3px solid #F1CDB3;
}

/*# sourceMappingURL=style.css.map */
