@font-face {
  font-family: "Arial";
  font-weight: normal;
  font-style: 400;
  src: url("../assets/fonts/Arial/ArialMT.woff2") format("woff2"), url("../assets/fonts/Arial/ArialMT.woff") format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Arial-italic";
  font-weight: italic;
  font-style: 400;
  src: url("../assets/fonts/Arial/Arial-ItalicMT.woff2") format("woff2"), url("../assets/fonts/Arial/Arial-ItalicMT.woff") format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Georgia";
  font-weight: normal;
  font-style: 400;
  src: url("../assets/fonts/Georgia/Georgia.woff2") format("woff2"), url("../assets/fonts/Georgia/Georgia.woff") format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Georgia-bold";
  font-weight: normal;
  font-style: 700;
  src: url("../assets/fonts/Georgia/Georgia-Bold.woff2") format("woff2"), url("../assets/fonts/Georgia/Georgia-Bold.woff") format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
.section, .start-screen {
  display: flex;
}

.logo__title {
  color: #F1CDB3;
}

.nav__link:hover, .nav__link_active:hover {
  color: #FAFAFA;
}

.start-screen__title, .logo__subtitle {
  color: #FFFFFF;
}

.nav__link, .nav__link_active, .start-screen__text {
  color: #CDCDCD;
}

.start-screen__button {
  color: #292929;
}

.start-screen__title {
  font-size: 44px;
  line-height: 57px;
}

.start-screen__button {
  font-size: 15px;
  line-height: 17px;
}

.nav__link, .nav__link_active, .start-screen__text {
  font-size: 15px;
  line-height: 24px;
}

.logo__title {
  font-size: 32px;
  line-height: 35px;
}

.logo__subtitle {
  font-size: 13px;
}

.nav__list {
  list-style: none;
}

.nav__link, .nav__link_active {
  text-decoration: none;
  transition: 0.3s;
}

.start-screen__button {
  border-radius: 26px;
  letter-spacing: 2px;
  cursor: pointer;
}
.start-screen__button:hover {
  background-color: #FDDCC4;
  transition: 0.3s;
}
.start-screen__button:active {
  transform: scale(95%);
}

.start-screen__button {
  height: 52px;
  border: none;
  background-color: #F1CDB3;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  font-family: "Georgia";
  font-weight: 400;
  font-style: normal;
  color: #545454;
}

.start-screen__button {
  width: 207px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  background-image: url("/assets/imgs/jpg/start_screen.jpg");
  background-position: top;
  background-repeat: no-repeat;
}

.logo__title {
  padding-top: 60px;
  font-weight: 400;
  margin: 0 0 10px 0;
  letter-spacing: 2px;
}

.logo__subtitle {
  padding-left: 4px;
  font-family: "Arial";
  font-weight: 400;
  font-style: normal;
  margin: 0 0 10px 0;
  letter-spacing: 1px;
  word-spacing: 1.5px;
}

.section {
  padding: 0 40px;
  gap: 42px;
}

.start-screen {
  background-image: url("/assets/imgs/jpg/start_screen.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
}

.start-screen__content {
  margin-top: 163px;
  max-width: 460px;
}

.start-screen__title {
  max-width: 310px;
  margin: 0 0 0 0;
  letter-spacing: 0;
  font-weight: 400;
}

.start-screen__text {
  font-family: "Arial";
  font-weight: 400;
  font-style: normal;
  margin: 42px 0 42px 0;
  letter-spacing: 0;
}

.nav__list {
  display: flex;
  padding: 60px 0;
  margin: 16px 0 20px;
}

.nav__link, .nav__link_active {
  font-family: "Arial";
  font-weight: 400;
  font-style: normal;
  margin: 0 0 0 36px;
  letter-spacing: 0;
}
.nav__link_active {
  padding-bottom: 4px;
  color: #FAFAFA;
  border-bottom: 3px solid #F1CDB3;
}

/*# sourceMappingURL=style.css.map */
